/* Basic Reset */
* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
}

/* Container */
.container {
  width: min(100% - 40px, 1280px);
  margin-inline: auto;
  margin-top: 20px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header */
h1 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Search */
.search {
  margin-bottom: 30px;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.search__label-input,
.search__label-checkbox {
  display: block;
  margin-bottom: 7px;
  font-weight: bold;
  color: #555;
}

.search__input {
  display: block;
  max-width: 400px;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid lightsteelblue;
  font-size: 1rem;
}

/* Search Checkbox */
.search__checkbox {
  vertical-align: middle; 
}

/* Search Label Checkbox */
.search__label-checkbox {
  font-size: 0.9rem;
  user-select: none;
  margin-bottom: 0; 
  vertical-align: middle; 
}

.search__group--checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.9rem;
}

/* Movies Grid */
.movies {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}

/* Movie Item */
.movie {
  display: flex;
  align-items: center;
  justify-content: start;
  border: 1px solid #ddd;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  transition: transform 0.2s, box-shadow 0.2s;
}

.movie:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Movie Image */
.movie__image {
  width: 100px;
  height: 150px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 8px;
}

/* Movie Details */
.movie__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  overflow: hidden;
}

.movie__title {
  color: #333;
  font-size: 1.2rem;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}

.movie__year,
.movie__type {
  font-size: 1rem;
  margin: 5px 0 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #777;
}

/* Responsive Design */
@media (max-width: 600px) {
  .movie {
    flex-direction: column;
    align-items: flex-start;
  }
  .movie__image {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
